doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bobby Brennan
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/freelancer.css', rel='stylesheet')
    link(href='/css/index.css', rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    script(src="/js/google-analytics.js")
  body#page-top.index
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Bobby Brennan
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='http://www.linkedin.com/in/bobbybrennan') LinkedIn
            li.page-scroll
              a(href='#portfolio') Portfolio
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#contact') Contact
    header
      img.header-img(src="/img/headshot.jpg")
      .container
        .row
          .col-lg-12
            h1.name Bobby Brennan
            h2.skills Software Engineer
    // About Section
    section#about.success
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr.circle-light
        .row.text-center
          .col-lg-2
          .col-lg-8
            p.
              Bobby is an experienced software engineer with degrees in Computer Science, Mathematics, and Linguistics.
              He specializes in Machine Learning and Natural Language Processing.
              However, he is at heart a generalist, loves learning new technologies, and is comfortable working on frontends and backends alike.
          .col-lg-2
    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Portfolio
            hr.circle-primary
        mixin portfolio-item(title, caption, link)
          .col-xs-12.col-md-8.col-md-offset-2
            h4
              span= title
              span &nbsp;&nbsp;
              small
                a(href=link) View Project 
                  i.fa.fa-external-link
            p= caption
        h3.text-center Websites
        .row
          +portfolio-item('DataFire',
                          'DataFire is an open API integration and task automation platform',
                          'https://datafire.io')
          +portfolio-item('AnyAPI',
                          'AnyAPI provides documentation and test consoles for over 100 public APIs',
                          'https://any-api.com')
        h3.text-center Apps
        .row
          +portfolio-item('Posted',
                          'Posted is an Android app that uses natural language processing to detect breaking news on any topic in real time',
                          'https://play.google.com/store/apps/details?id=info.bbrennan.posted&hl=en')
        h3.text-center Open Source Projects
        .row
          +portfolio-item('Strapping!',
                          'Strapping is an open-source GUI for building customized Bootstrap themes.',
                          'https://bbrennan.info/strapping')
          +portfolio-item('API Spec Converter',
                          'api-spec-converter is an open source tool for converting between API description formats such as Swagger and I/O Docs',
                          'https://github.com/lucybot/api-spec-converter')
          +portfolio-item('Jammin',
                          'jammin is a NodeJS package for creating RESTful APIs with NodeJS and MongoDB',
                          'https://github.com/lucybot/jammin')
          +portfolio-item('GitBack',
                          'GitBack is an open source project that allows NodeJS projects to use Git as a backend',
                          'https://github.com/bobby-brennan/gitback')
    // Contact Section
    section#contact.success
      .container
        .row
          .col-lg-12.text-center
            h2 Contact
            hr.circle-light
        .row
          .col-xs-12.text-center
            .btn-toolbar
              a.btn.btn-link(href="https://twitter.com/bobby_lucybot")
                i.fa.fa-github
              a.btn.btn-link(href="https://twitter.com/bobby_lucybot")
                i.fa.fa-linkedin
              a.btn.btn-link(href="https://twitter.com/bobby_lucybot")
                i.fa.fa-twitter
              a.btn.btn-link(href="https://twitter.com/bobby_lucybot")
                i.fa.fa-email

    footer.text-center
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright &copy; Bobby Brennan 2014
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/js/classie.js')
    script(src='/js/cbpAnimatedHeader.js')
    script(src='/js/jqBootstrapValidation.js')
    script(src='/js/contact_me.js')
    script(src='/js/freelancer.js')
