doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Robert Brennan')
    link(rel="icon" href="favicon.ico?")
    title Robert Brennan
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/styles.css")

  body
    mixin portfolio-item(title, description, link)
      .portfolio-item
        h4
          a(href=link)= title
        p= description

    .container
      .section
        h1
          span Robert Brennan
          .social-links
            mixin social-link(link, icon)
              .social-link
                a.btn.btn-sm.btn-primary(href=link)
                  i.fa.fa-2x(class="fa-" + icon)
            +social-link("https://github.com/rbren", 'github')
            +social-link("https://www.linkedin.com/in/robert-a-brennan", 'linkedin')
            +social-link("mailto:contact@rbren.io", 'envelope')

      .section
        h2 About me
        p.
          I'm a Software Engineer with degrees in Computer Science, Mathematics, and Linguistics.
          I specialize in Developer Tools, Machine Learning, and Natural Language Processing.
          However, I am at heart a generalist, love learning new technologies, and am comfortable working on frontends and backends alike.

      .section
        h2 What I'm up to
        p.
          I work at <a href="https://fairwinds.com">Fairwinds</a>, a Kubernetes enablement company,
          as Director of Open Source Software.
          I manage a team of six engineers, working to build our first commercial software offering,
          <a href="https://fairwinds.com/insights">Fairwinds Insights</a>.

      .section
        h2 My projects
        p.
          I love building things. Below are a few selected software projects that
          I've made, both on my own and with the help of others.
        +portfolio-item('Fairwinds Insights',
          'Fairwinds Insights is a platform for consolidating and operationalizing Kubernetes auditing tools. I worked with our CTO and VP of Strategy to conceptualize Insights, and built a team of engineers to implement it.',
          'https://fairwinds.com/insights')
        +portfolio-item('DataFire.io',
          'DataFire is an API integration and task automation platform. I built DataFire from scratch, with the help of a few contractors.',
          'https://datafire.io')
        +portfolio-item('DocGen',
          'LucyBot\'s DocGen helps API providers create and maintain API documentation. This is the first commercial product I built from scratch.',
          'https://lucybot.com/docgen')
        +portfolio-item('Long Answers',
          'While working at Google, I wrote an algorithm to extract answers to open-ended questions, like "Why is the sky blue?" The algorithm was incorporated into Google Search in August 2013, and resulted in Patent US9940367B1.',
          'https://www.google.com/search?q=why+is+the+sky+blue')
        +portfolio-item('AnyAPI',
          'AnyAPI provides documentation and test consoles for over 1400 public APIs. I built AnyAPI as a way of showing off LucyBot\'s DocGen tooling',
          'https://any-api.com')
        +portfolio-item('DataFire Framework',
          'The DataFire framework is an MIT-licensed framework for working with APIs, databases, and other services. It drives the DataFire.io platform.',
          'https://github.com/DataFire/DataFire')
        +portfolio-item('API Spec Converter',
          'api-spec-converter is a library for converting between API description formats such as Swagger and I/O Docs, with over 10k downloads per week',
          'https://github.com/lucybot/api-spec-converter')
        +portfolio-item('rss-parser',
          'A lightweight utility for parsing RSS/Atom feeds in Node and the Browser, with over 120k downloads per week',
          'https://github.com/rbren/rss-parser')
        +portfolio-item('World News',
          'A visualization of headlines from The Economist',
          'https://rbren.io/worldnews')
        +portfolio-item('Stock Screener',
          'A stock screener that I\'ve heavily customized for my own needs',
          'https://rbren.io/stock-screener')

      .section
        h2 Written work
        p.
          Writing has always been a passion of mine. I particularly enjoy technical
          writing and essays.
        +portfolio-item('Kubernetes Without Scale: Reasons to Run a Personal Cluster',
          'A two part series on Container Journal, on how to set up a personal Kubernetes cluster',
          'https://containerjournal.com/topics/container-ecosystems/kubernetes-without-scale-reasons-to-run-a-personal-cluster/')
        +portfolio-item('How-to Address Kubernetes Cluster Security',
          'A rundown of security considerations for anyone running a Kubernetes cluster',
          'https://www.fairwinds.com/blog/cluster-health-checkup-security')
        +portfolio-item('JavaScript ES6 Promises - Patterns and Anti-patterns',
          'A brief rundown on best practices when using JavaScript Promises',
          'https://medium.com/datafire-io/es6-promises-patterns-and-anti-patterns-bbb21a5d0918')
        +portfolio-item('Upgrading to Async/Await with JavaScript ES8',
          'An overview of the benefits of async/await syntax in JavaScript',
          'https://medium.com/datafire-io/upgrading-to-async-await-with-javascript-es7-3c67602ea7f8')
